:root {
  --primary-color: #ac937a;
  --secondary-color: #cccccc;
  --pure-white: #fff;
  --bg-1: #161817;
  --bg-2: #212523;
  --font-size-1: 16px;
  --font-size-2: 18px;
  --font-size-3: 56px;
}

body {
  overflow-x: hidden;
}

.banner {
  position: relative;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-img {
  width: 100vw;
  height: 100%;
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #040f15;
  opacity: 0.8;
}

.banner-content {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.path {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.path a {
  padding: 10px;
  background-color: transparent;
  color: var(--pure-white);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
}
header {
  position: absolute;
  width: 100%;
  top: 40px;
}
.about-page {
  background-color: var(--bg-1);
  padding: 160px 0;
  overflow-x: hidden;
  padding: 160px 0 95px 0;
}
.hr {
  background-color: var(--bg-1);
}

/* end */
.progress {
  background-color: var(--bg-1);
  padding: 100px 0;
}
.progress-containers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 55px;
}
.text-section {
  flex: 1;
  min-width: 300px;
}
.text-section h2 {
  color: var(--primary-color);
}
.text-section h2::after {
  content: "";
  display: block;
  width: 15%;
  height: 2px;
  background-color: var(--primary-color);
  margin-top: 10px;
}
.text-section p {
  font-size: var(--font-size-1);
  font-weight: 400;
  margin-top: 24px;
  color: var(--pure-white);
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.progress-bar {
  margin: 50px 0;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.progress-bar.visible {
  opacity: 1;
  transform: translateY(0);
}
.progress-bar span {
  display: flex;
  justify-content: space-between;
  color: var(--pure-white);
  font-family: "Bodoni MT";
  font-size: 20px;
  font-weight: 400;
  line-height: 26px; /* 130% */
}
.bar {
  height: 8px;
  width: 100%;
  background: #333;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.bar-1 {
  background-color: #ffc1d8;
}
.bar-2 {
  background-color: #cde2ff;
}
.bar-3 {
  background-color: #f3d0ff;
}
.fill {
  height: 100%;
  width: 0;
  border-radius: 5px;
  transition: width 1.5s ease-in-out;
}
.fill.photography {
  background: linear-gradient(90deg, #ff007f, #ff4da6);
}
.fill.videography {
  background: linear-gradient(90deg, #007bff, #66b3ff);
}
.fill.event {
  background: linear-gradient(90deg, #9900ff, #cc66ff);
}
.progress-text {
  opacity: 0;
  color: #fff;
  font-family: "Bodoni MT";
  font-size: 20px;
  font-weight: 400;
  line-height: 26px; /* 130% */
  transition: opacity 1.5s ease-in-out;
}
.image-section {
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 300px;
}
.image-section :nth-child(2) {
  margin-left: -21%;
  margin-top: 57%;
  border: 20px solid var(--bg-1);
  border-radius: 30px;
}
.image-section img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
}
/* end */
.ab-card-sec {
  background-color: var(--bg-1);
  padding: 140px 0 65px 0;
}
.about-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.about-card {
  position: relative;
  width: 100%;
  max-width: 282px;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.about-card .about-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.about-card-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.about-card-hover img {
}
