:root {
  --primary-color: #ac937a;
  --secondary-color: #cccccc;
  --pure-white: #fff;
  --bg-1: #161817;
  --bg-2: #212523;
  --font-size-1: 16px;
  --font-size-2: 18px;
  --font-size-3: 56px;
}

body {
